#root ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon {
    margin-right: 5px;
}

#root ul {
    display: inline-block;
    list-style: none;
    margin: 15px, 15px, 15px, 15px;
}

#root button {
    display: inline-block;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
        считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    margin-top: -5px;
    margin-left: 5px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}